<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Event+ - Daftar Event</title>

    <style>
        table, th, td {
            border: 1px solid black;
            text-align: center;
            padding: 5px;
          }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/login/">Login</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Registration
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="/regis_pengunjung/">Pengunjung</a>
                      <a class="dropdown-item" href="/regis_organizer/">Organizer</a>
                    </div>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/merah/">Pesan Tiket</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/kuning/event/view/all/1">Event</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Testimoni
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="/hijau/viewtestimoni/">Testimoni Saya</a>
                      <a class="dropdown-item" href="/hijau/">Buat Testimoni</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Transaksi
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="/merah/lihat_transaksi/">Transaksi Saya</a>
                      <a class="dropdown-item" href="/hijau/bayartransaksi/">Bayar Transaksi</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <center>
        <h2>Event+ - Daftar Event</h2>
        <br>
        <input type='text' placeholder="Search Event">
        <br><br>
        <table>
            <tr>
                <th>No</th>
                <th>Tema Event</th>
                <th>Nama Event</th>
                <th>Organizer</th>
                <th>Lokasi</th>
                <th>Tanggal</th>
                <th>Jam</th>
                <th>Kapasitas</th>
                <th>Action</th>
            </tr>
            {% for i in eventAll %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{% for j in temaAll %}
                        {% if j.0 == i.0 %}
                            {{j.1}},
                        {% endif %}
                    {% endfor %}
                </td>
                <td>{{i.1}}</td>
                <td>
                {% for j in individuAll %}
                    {% if j.0 == i.10 %}
                        {{j.2}}&nbsp;{{j.3}}
                    {% endif %}
                {% endfor %}
                {% for j in perusahaanAll %}
                    {% if j.0 == i.10 %}
                        {{j.1}}
                    {% endif %}
                {% endfor %}
                </td>
                <td>
                    {% for j in lokasiAll %}
                        {% if j.0 == i.0 %}
                            {{j.1}},&nbsp;{{j.2}}
                        {% endif %}
                    {% endfor %}
                </td>
                <td>{{i.2}} - {{i.3}}</td>
                <td>{{i.4}} - {{i.5}}</td>
                <td>{{i.8}}</td>
                {% if role == 'organizer' %}
                    {% if email == i.10 %}
                        <td>
                            <a href="{% url 'kuning:eventUpdate' %}">
                                <button>Edit</button>
                            </a>
                        <br>
                            <a href="{% url 'kuning:eventDel' %}">
                                <button>Delete</button>
                            </a>
                        </td>
                    {% endif %}
                {% elif True %}
                <td>
                    <a href="#">
                        <button class="primary-btn">Pesan Tiket</button>
                    </a>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
        <br>
        <a href="{% url 'kuning:eventCreate' %}"><button>Create Event</button></a>
        <br><br>

        <div class="pagination" style="color: black;">
            <span class="step-links">
                {% if eventAll.has_previous %}
                    <a href="{% url 'kuning:viewOrg1' page=1 %}">&laquo; first</a>
                    <a href="/kuning/event/view/all/{{eventAll.previous_page_number}}">previous</a>
                {% endif %}
        
                <span class="current">
                    Page {{ eventAll.number }} of {{ eventAll.paginator.num_pages }}.
                </span>
        
                {% if eventAll.has_next %}
                    <a href="/kuning/event/view/all/{{eventAll.next_page_number}}">next</a>
                    <a href="/kuning/event/view/all/{{ eventAll.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </center>

        <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>