<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Event+ - Daftar Event</title>

    <style>
        table, th, td {
            border: 1px solid black;
            text-align: center;
            padding: 5px;
          }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/login/">Login</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Registration
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="/regis_pengunjung/">Pengunjung</a>
                      <a class="dropdown-item" href="/regis_organizer/">Organizer</a>
                    </div>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/merah/">Pesan Tiket</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/kuning/event/view/organizer/1">Event</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Testimoni
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="/hijau/viewtestimoni/">Testimoni Saya</a>
                      <a class="dropdown-item" href="/hijau/">Buat Testimoni</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Transaksi
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="/merah/lihat_transaksi/">Transaksi Saya</a>
                      <a class="dropdown-item" href="/hijau/bayartransaksi/">Bayar Transaksi</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <center>
        <h2>Event+ - Daftar Event</h2>
        <br>
        <input type='text' placeholder="Search Event">
        <br><br>
        <table>
            <tr>
                <th>No</th>
                <th>Tema Event</th>
                <th>Nama Event</th>
                <th>Organizer</th>
                <th>Lokasi</th>
                <th>Tanggal</th>
                <th>Jam</th>
                <th>Kapasitas</th>
                <th>Action</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Musik, Seni</td>
                <td>Kompes</td>
                <td>csEvent</td>
                <td>kadin, Depok</td>
                <td>2 Feb 2020 - 5 Feb 2020</td>
                <td>21:28 - 18:42</td>
                <td>453185</td>
                <td><a href="{% url 'kuning:eventUpdate' %}"><button>Edit</button></a>
                    <br>
                    <a href="{% url 'kuning:eventDel' %}"><button>Delete</button></a></td>
            </tr>
            <tr>
                <td>2</td>
                <td>Fashion, Seni</td>
                <td>Peraq</td>
                <td>mDuddy</td>
                <td>ancolita, Bekasi</td>
                <td>3 Feb 2020 - 6 Feb 2020</td>
                <td>16:57 - 10:16</td>
                <td>262241</td>
                <td>x</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Fashion, Sosial</td>
                <td>CGD</td>
                <td>smartEvent</td>
                <td>macitan city, Bogor</td>
                <td>4 Feb 2020 - 7 Feb 2020</td>
                <td>14:26 - 18:15</td>
                <td>747994</td>
                <td>x</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Olahraga, Sosial</td>
                <td>CXL</td>
                <td>EGR</td>
                <td>majaran, Serang</td>
                <td>5 Feb 2020 - 8 Feb 2020</td>
                <td>04:34 - 15:43</td>
                <td>649058</td>
                <td>x</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Musik, Olahraga</td>
                <td>Talasik</td>
                <td>FPred</td>
                <td>picisan city, Jakarta Selatan</td>
                <td>6 Feb 2020 - 9 Feb 2020</td>
                <td>06:19 - 20:46</td>
                <td>203714</td>
                <td>x</td>
            </tr>
            <tr>
                <td>6</td>
                <td>Fashion, Musik</td>
                <td>Gabo-Gabo</td>
                <td>Lombak</td>
                <td>sky tower, Jakarta Barat</td>
                <td>7 Feb 2020 - 10 Feb 2020</td>
                <td>08:57 - 17:37</td>
                <td>265914</td>
                <td>x</td>
            </tr>
            <tr>
                <td>7</td>
                <td>Fashion, Sosial</td>
                <td>Dangdoed</td>
                <td>Shuker</td>
                <td>power city, Bogor</td>
                <td>8 Feb 2020 - 11 Feb 2020</td>
                <td>13:11 - 06:49</td>
                <td>325538</td>
                <td>x</td>
            </tr>
            <tr>
                <td>8</td>
                <td>Olahraga, Sosial</td>
                <td>Festival Golput</td>
                <td>Harfeet</td>
                <td>sukarame, Bekasi</td>
                <td>9 Feb 2020 - 12 Feb 2020</td>
                <td>20:36 - 13:36</td>
                <td>238082</td>
                <td>x</td>
            </tr>
            <tr>
                <td>9</td>
                <td>Musik, Olahraga</td>
                <td>Konser Musrik</td>
                <td>Miles</td>
                <td>botanica, Jakarta Barat</td>
                <td>10 Feb 2020 - 13 Feb 2020</td>
                <td>22:52 - 03:40</td>
                <td>463350</td>
                <td>x</td>
            </tr>
            <tr>
                <td>10</td>
                <td>Musik, Seni</td>
                <td>Tarik</td>
                <td>Cloud9</td>
                <td>makmur jaya, Depok</td>
                <td>11 Feb 2020 - 14 Feb 2020</td>
                <td>10:46 - 04:04</td>
                <td>178453</td>
                <td>x</td>
            </tr>
        </table>
        <br>
        <a href="{% url 'kuning:eventCreate' %}"><button>Create Event</button></a>
        <br><br>
        <table>
            <tr>
                <a href="#"><th><</th></a>
                <a href="#"><th style="background-color: gray;">1</th></a>
                <td><a href="{% url 'kuning:viewOrg2' %}">2</a></td>
                <th><a href="{% url 'kuning:viewOrg2' %}">></a></th>
            </tr>
        </table>
    </center>

        <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>